body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:751px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:751px;
}
#u718 {
  position:absolute;
  left:2px;
  top:368px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u721 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u722 {
  position:absolute;
  left:154px;
  top:101px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u724 {
  position:absolute;
  left:154px;
  top:217px;
  width:60px;
  height:60px;
}
#u725 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
}
#u726 {
  position:absolute;
  left:165px;
  top:233px;
  width:38px;
  height:29px;
}
#u727 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:151px;
  top:301px;
  width:71px;
  height:16px;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u730 {
  position:absolute;
  left:84px;
  top:493px;
  width:200px;
  height:51px;
  font-size:14px;
  color:#FFFFFF;
}
#u731 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u732 {
  position:absolute;
  left:84px;
  top:583px;
  width:200px;
  height:51px;
  font-size:14px;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:20px;
}
#u734 {
  position:absolute;
  left:74px;
  top:381px;
  width:225px;
  height:60px;
  text-align:center;
  line-height:20px;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:24px;
}
#u736 {
  position:absolute;
  left:460px;
  top:99px;
  width:265px;
  height:24px;
  color:#996600;
  text-align:center;
  line-height:24px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u738 {
  position:absolute;
  left:315px;
  top:111px;
  width:0px;
  height:0px;
  color:#996600;
}
#u738_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u738_seg1 {
  position:absolute;
  left:132px;
  top:-10px;
  width:20px;
  height:20px;
}
#u739 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u740 {
  position:absolute;
  left:23px;
  top:99px;
  width:24px;
  height:21px;
}
#u741 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u743 {
  position:absolute;
  left:13px;
  top:30px;
  width:123px;
  height:30px;
}
#u744 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u745 {
  position:absolute;
  left:333px;
  top:35px;
  width:30px;
  height:20px;
  color:#999999;
}
#u746 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747 {
  position:absolute;
  left:163px;
  top:78px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u747_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u747_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:200px;
}
#u749 {
  position:absolute;
  left:2px;
  top:92px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u750 {
  position:absolute;
  left:15px;
  top:59px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u751 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u752 {
  position:absolute;
  left:114px;
  top:16px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u754 {
  position:absolute;
  left:114px;
  top:59px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u756 {
  position:absolute;
  left:114px;
  top:101px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u758 {
  position:absolute;
  left:114px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u760 {
  position:absolute;
  left:80px;
  top:69px;
  width:0px;
  height:0px;
  color:#996600;
}
#u760_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u760_seg1 {
  position:absolute;
  left:21px;
  top:-10px;
  width:20px;
  height:20px;
}
#u761 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
