body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u611 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:711px;
}
#u612 {
  position:absolute;
  left:2px;
  top:348px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u615 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u616 {
  position:absolute;
  left:155px;
  top:100px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u618 {
  position:absolute;
  left:0px;
  top:134px;
  width:375px;
  height:1px;
}
#u619 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u620 {
  position:absolute;
  left:117px;
  top:148px;
  width:53px;
  height:16px;
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u622 {
  position:absolute;
  left:200px;
  top:148px;
  width:62px;
  height:16px;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u624 {
  position:absolute;
  left:301px;
  top:148px;
  width:46px;
  height:16px;
}
#u625 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u626 {
  position:absolute;
  left:0px;
  top:208px;
  width:89px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u627 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u628 {
  position:absolute;
  left:0px;
  top:208px;
  width:375px;
  height:1px;
}
#u629 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u630 {
  position:absolute;
  left:88px;
  top:134px;
  width:1px;
  height:200px;
}
#u631 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:2px;
}
#u632 {
  position:absolute;
  left:-12px;
  top:172px;
  width:113px;
  height:1px;
  -webkit-transform:rotate(39deg);
  -moz-transform:rotate(39deg);
  -ms-transform:rotate(39deg);
  transform:rotate(39deg);
}
#u633 {
  position:absolute;
  left:2px;
  top:-8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u634 {
  position:absolute;
  left:0px;
  top:244px;
  width:89px;
  height:37px;
}
#u635 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u636 {
  position:absolute;
  left:0px;
  top:280px;
  width:89px;
  height:37px;
}
#u637 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  position:absolute;
  left:0px;
  top:316px;
  width:89px;
  height:37px;
}
#u639 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u640 {
  position:absolute;
  left:88px;
  top:173px;
  width:287px;
  height:1px;
}
#u641 {
  position:absolute;
  left:2px;
  top:-8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  position:absolute;
  left:104px;
  top:184px;
  width:66px;
  height:16px;
}
#u643 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u644 {
  position:absolute;
  left:88px;
  top:244px;
  width:287px;
  height:1px;
}
#u645 {
  position:absolute;
  left:2px;
  top:-8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  position:absolute;
  left:199px;
  top:184px;
  width:66px;
  height:16px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  position:absolute;
  left:291px;
  top:184px;
  width:66px;
  height:16px;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u650 {
  position:absolute;
  left:121px;
  top:255px;
  width:46px;
  height:15px;
  font-size:12px;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  position:absolute;
  left:176px;
  top:215px;
  width:110px;
  height:24px;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u654 {
  position:absolute;
  left:209px;
  top:255px;
  width:46px;
  height:15px;
  font-size:12px;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u656 {
  position:absolute;
  left:301px;
  top:255px;
  width:46px;
  height:15px;
  font-size:12px;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u658 {
  position:absolute;
  left:88px;
  top:280px;
  width:287px;
  height:1px;
}
#u659 {
  position:absolute;
  left:2px;
  top:-8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u660 {
  position:absolute;
  left:88px;
  top:316px;
  width:287px;
  height:1px;
}
#u661 {
  position:absolute;
  left:2px;
  top:-8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u662 {
  position:absolute;
  left:88px;
  top:352px;
  width:287px;
  height:1px;
}
#u663 {
  position:absolute;
  left:2px;
  top:-8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:76px;
}
#u664 {
  position:absolute;
  left:181px;
  top:134px;
  width:1px;
  height:75px;
}
#u665 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:76px;
}
#u666 {
  position:absolute;
  left:275px;
  top:134px;
  width:1px;
  height:75px;
}
#u667 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:110px;
}
#u668 {
  position:absolute;
  left:181px;
  top:244px;
  width:1px;
  height:109px;
}
#u669 {
  position:absolute;
  left:2px;
  top:46px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:110px;
}
#u670 {
  position:absolute;
  left:275px;
  top:244px;
  width:1px;
  height:109px;
}
#u671 {
  position:absolute;
  left:2px;
  top:46px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:48px;
}
#u672 {
  position:absolute;
  left:530px;
  top:132px;
  width:265px;
  height:48px;
  color:#996600;
  text-align:center;
  line-height:24px;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u674 {
  position:absolute;
  left:385px;
  top:156px;
  width:0px;
  height:0px;
  color:#996600;
}
#u674_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u674_seg1 {
  position:absolute;
  left:132px;
  top:-10px;
  width:20px;
  height:20px;
}
#u675 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:24px;
}
#u676 {
  position:absolute;
  left:530px;
  top:215px;
  width:265px;
  height:24px;
  color:#996600;
  text-align:center;
  line-height:24px;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u678 {
  position:absolute;
  left:385px;
  top:227px;
  width:0px;
  height:0px;
  color:#996600;
}
#u678_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u678_seg1 {
  position:absolute;
  left:132px;
  top:-10px;
  width:20px;
  height:20px;
}
#u679 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:310px;
  top:103px;
  width:57px;
  height:16px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:24px;
}
#u682 {
  position:absolute;
  left:530px;
  top:99px;
  width:265px;
  height:24px;
  color:#996600;
  text-align:center;
  line-height:24px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u684 {
  position:absolute;
  left:385px;
  top:111px;
  width:0px;
  height:0px;
  color:#996600;
}
#u684_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u684_seg1 {
  position:absolute;
  left:132px;
  top:-10px;
  width:20px;
  height:20px;
}
#u685 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u686 {
  position:absolute;
  left:23px;
  top:99px;
  width:24px;
  height:21px;
}
#u687 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u689 {
  position:absolute;
  left:13px;
  top:30px;
  width:123px;
  height:30px;
}
#u690 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u691 {
  position:absolute;
  left:333px;
  top:35px;
  width:30px;
  height:20px;
  color:#999999;
}
#u692 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693 {
  position:absolute;
  left:163px;
  top:78px;
  width:200px;
  height:333px;
  overflow:hidden;
  visibility:hidden;
}
#u693_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:333px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u693_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:332px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:332px;
}
#u695 {
  position:absolute;
  left:2px;
  top:158px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u696 {
  position:absolute;
  left:15px;
  top:262px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u698 {
  position:absolute;
  left:15px;
  top:293px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u700 {
  position:absolute;
  left:146px;
  top:17px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u702 {
  position:absolute;
  left:98px;
  top:222px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u704 {
  position:absolute;
  left:98px;
  top:256px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u706 {
  position:absolute;
  left:68px;
  top:157px;
  width:111px;
  height:19px;
  font-size:16px;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u708 {
  position:absolute;
  left:114px;
  top:188px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u710 {
  position:absolute;
  left:82px;
  top:293px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u712 {
  position:absolute;
  left:108px;
  top:120px;
  width:71px;
  height:19px;
  font-size:16px;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u714 {
  position:absolute;
  left:126px;
  top:51px;
  width:53px;
  height:19px;
  font-size:16px;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u716 {
  position:absolute;
  left:119px;
  top:85px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
