body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:803px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:803px;
}
#u60 {
  position:absolute;
  left:2px;
  top:394px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u64 {
  position:absolute;
  left:147px;
  top:101px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u66 {
  position:absolute;
  left:0px;
  top:135px;
  width:375px;
  height:1px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u68 {
  position:absolute;
  left:23px;
  top:159px;
  width:85px;
  height:16px;
  color:#CCCCCC;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u70 {
  position:absolute;
  left:0px;
  top:193px;
  width:375px;
  height:1px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u72 {
  position:absolute;
  left:23px;
  top:216px;
  width:85px;
  height:16px;
  color:#CCCCCC;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u74 {
  position:absolute;
  left:0px;
  top:250px;
  width:375px;
  height:1px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:283px;
  top:216px;
  width:71px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:53px;
}
#u78 {
  position:absolute;
  left:91px;
  top:371px;
  width:194px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u79 {
  position:absolute;
  left:2px;
  top:17px;
  width:190px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u81 {
  position:absolute;
  left:13px;
  top:30px;
  width:123px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u83 {
  position:absolute;
  left:333px;
  top:35px;
  width:30px;
  height:20px;
  color:#999999;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:163px;
  top:78px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u85_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u85_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:200px;
}
#u87 {
  position:absolute;
  left:2px;
  top:92px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u88 {
  position:absolute;
  left:15px;
  top:59px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u90 {
  position:absolute;
  left:114px;
  top:16px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u92 {
  position:absolute;
  left:114px;
  top:59px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u94 {
  position:absolute;
  left:114px;
  top:101px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u96 {
  position:absolute;
  left:114px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:80px;
  top:69px;
  width:0px;
  height:0px;
  color:#996600;
}
#u98_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u98_seg1 {
  position:absolute;
  left:21px;
  top:-10px;
  width:20px;
  height:20px;
}
#u99 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u100 {
  position:absolute;
  left:23px;
  top:100px;
  width:24px;
  height:21px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
