body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:803px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:803px;
}
#u60 {
  position:absolute;
  left:2px;
  top:394px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u64 {
  position:absolute;
  left:23px;
  top:31px;
  width:12px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66 {
  position:absolute;
  left:147px;
  top:32px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u68 {
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:1px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u70 {
  position:absolute;
  left:23px;
  top:90px;
  width:85px;
  height:16px;
  color:#CCCCCC;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u72 {
  position:absolute;
  left:0px;
  top:124px;
  width:375px;
  height:1px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u74 {
  position:absolute;
  left:23px;
  top:147px;
  width:85px;
  height:16px;
  color:#CCCCCC;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u76 {
  position:absolute;
  left:0px;
  top:181px;
  width:375px;
  height:1px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:283px;
  top:147px;
  width:71px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:53px;
}
#u80 {
  position:absolute;
  left:91px;
  top:302px;
  width:194px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:190px;
  word-wrap:break-word;
}
