body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:803px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:803px;
}
#u139 {
  position:absolute;
  left:2px;
  top:394px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u142 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u143 {
  position:absolute;
  left:23px;
  top:31px;
  width:12px;
  height:20px;
}
#u144 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u145 {
  position:absolute;
  left:147px;
  top:32px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u147 {
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:1px;
}
#u148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u149 {
  position:absolute;
  left:23px;
  top:90px;
  width:71px;
  height:16px;
  color:#CCCCCC;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u151 {
  position:absolute;
  left:0px;
  top:124px;
  width:375px;
  height:1px;
}
#u152 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u153 {
  position:absolute;
  left:23px;
  top:147px;
  width:71px;
  height:16px;
  color:#CCCCCC;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u155 {
  position:absolute;
  left:0px;
  top:181px;
  width:375px;
  height:1px;
}
#u156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:53px;
}
#u157 {
  position:absolute;
  left:91px;
  top:302px;
  width:194px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u158 {
  position:absolute;
  left:2px;
  top:17px;
  width:190px;
  word-wrap:break-word;
}
