body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2460 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
}
#u2461 {
  position:absolute;
  left:2px;
  top:364px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2463 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u2466 {
  position:absolute;
  left:13px;
  top:31px;
  width:123px;
  height:30px;
}
#u2467 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2468 {
  position:absolute;
  left:333px;
  top:36px;
  width:30px;
  height:20px;
  color:#999999;
}
#u2469 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470 {
  position:absolute;
  left:163px;
  top:79px;
  width:200px;
  height:333px;
  overflow:hidden;
  visibility:hidden;
}
#u2470_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:333px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2470_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:332px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2471 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:332px;
}
#u2472 {
  position:absolute;
  left:2px;
  top:158px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2473 {
  position:absolute;
  left:15px;
  top:262px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2474 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2475 {
  position:absolute;
  left:15px;
  top:293px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2476 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2477 {
  position:absolute;
  left:146px;
  top:17px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2478 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2479 {
  position:absolute;
  left:98px;
  top:222px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2480 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2481 {
  position:absolute;
  left:98px;
  top:256px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2482 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2483 {
  position:absolute;
  left:68px;
  top:157px;
  width:111px;
  height:19px;
  font-size:16px;
}
#u2484 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2485 {
  position:absolute;
  left:114px;
  top:188px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2486 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2487 {
  position:absolute;
  left:82px;
  top:293px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u2488 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2489 {
  position:absolute;
  left:108px;
  top:120px;
  width:71px;
  height:19px;
  font-size:16px;
}
#u2490 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2491 {
  position:absolute;
  left:126px;
  top:51px;
  width:53px;
  height:19px;
  font-size:16px;
}
#u2492 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2493 {
  position:absolute;
  left:119px;
  top:85px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u2494 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2495 {
  position:absolute;
  left:45px;
  top:96px;
  width:20px;
  height:20px;
}
#u2496 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2497 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:80px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2498 {
  position:absolute;
  left:92px;
  top:202px;
  width:60px;
  height:60px;
}
#u2499 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2500 {
  position:absolute;
  left:87px;
  top:295px;
  width:71px;
  height:16px;
}
#u2501 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2502 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:80px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2503 {
  position:absolute;
  left:223px;
  top:202px;
  width:60px;
  height:60px;
}
#u2504 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2505 {
  position:absolute;
  left:211px;
  top:295px;
  width:85px;
  height:16px;
}
#u2506 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2507 {
  position:absolute;
  left:25px;
  top:372px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2508 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u2509 {
  position:absolute;
  left:25px;
  top:416px;
  width:281px;
  height:144px;
  line-height:24px;
}
#u2510 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u2511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:24px;
}
#u2511 {
  position:absolute;
  left:635px;
  top:408px;
  width:265px;
  height:24px;
  color:#996600;
  text-align:center;
  line-height:24px;
}
#u2512 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u2513 {
  position:absolute;
  left:276px;
  top:421px;
  width:0px;
  height:0px;
  color:#996600;
}
#u2513_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:287px;
  height:8px;
}
#u2513_seg1 {
  position:absolute;
  left:279px;
  top:-5px;
  width:8px;
  height:9px;
}
#u2513_seg2 {
  position:absolute;
  left:279px;
  top:-5px;
  width:80px;
  height:8px;
}
#u2513_seg3 {
  position:absolute;
  left:346px;
  top:-11px;
  width:20px;
  height:20px;
}
#u2514 {
  position:absolute;
  left:130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
