body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:871px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
}
#u1289 {
  position:absolute;
  left:2px;
  top:364px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1291 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1293 {
  position:absolute;
  left:147px;
  top:100px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1295 {
  position:absolute;
  left:0px;
  top:134px;
  width:375px;
  height:1px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1297 {
  position:absolute;
  left:23px;
  top:160px;
  width:89px;
  height:16px;
}
#u1298 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1299 {
  position:absolute;
  left:0px;
  top:198px;
  width:375px;
  height:1px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1301 {
  position:absolute;
  left:23px;
  top:230px;
  width:99px;
  height:16px;
  color:#999999;
}
#u1302 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1303 {
  position:absolute;
  left:0px;
  top:268px;
  width:375px;
  height:1px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1305 {
  position:absolute;
  left:278px;
  top:230px;
  width:71px;
  height:16px;
}
#u1306 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u1307 {
  position:absolute;
  left:94px;
  top:350px;
  width:188px;
  height:52px;
  font-size:14px;
  color:#FFFFFF;
}
#u1308 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u1309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1309 {
  position:absolute;
  left:519px;
  top:160px;
  width:99px;
  height:16px;
  color:#999999;
}
#u1310 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1311 {
  position:absolute;
  left:496px;
  top:198px;
  width:375px;
  height:1px;
}
#u1312 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1313 {
  position:absolute;
  left:519px;
  top:230px;
  width:99px;
  height:16px;
  color:#999999;
}
#u1314 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1315 {
  position:absolute;
  left:496px;
  top:268px;
  width:375px;
  height:1px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1317 {
  position:absolute;
  left:774px;
  top:230px;
  width:71px;
  height:16px;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u1319 {
  position:absolute;
  left:590px;
  top:350px;
  width:188px;
  height:52px;
  font-size:14px;
  color:#FFFFFF;
}
#u1320 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u1321 {
  position:absolute;
  left:282px;
  top:376px;
  width:0px;
  height:0px;
  color:#996600;
}
#u1321_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:129px;
  height:8px;
}
#u1321_seg1 {
  position:absolute;
  left:121px;
  top:-127px;
  width:8px;
  height:131px;
}
#u1321_seg2 {
  position:absolute;
  left:121px;
  top:-127px;
  width:80px;
  height:8px;
}
#u1321_seg3 {
  position:absolute;
  left:193px;
  top:-127px;
  width:8px;
  height:8px;
}
#u1321_seg4 {
  position:absolute;
  left:187px;
  top:-134px;
  width:20px;
  height:20px;
}
#u1322 {
  position:absolute;
  left:75px;
  top:-45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1324 {
  position:absolute;
  left:13px;
  top:34px;
  width:123px;
  height:30px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1326 {
  position:absolute;
  left:333px;
  top:39px;
  width:30px;
  height:20px;
  color:#999999;
}
#u1327 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328 {
  position:absolute;
  left:163px;
  top:82px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u1328_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1328_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:200px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:92px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1331 {
  position:absolute;
  left:15px;
  top:59px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1333 {
  position:absolute;
  left:114px;
  top:16px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1335 {
  position:absolute;
  left:114px;
  top:59px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1337 {
  position:absolute;
  left:114px;
  top:101px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1339 {
  position:absolute;
  left:114px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1341 {
  position:absolute;
  left:80px;
  top:69px;
  width:0px;
  height:0px;
  color:#996600;
}
#u1341_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u1341_seg1 {
  position:absolute;
  left:21px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1342 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u1343 {
  position:absolute;
  left:23px;
  top:99px;
  width:24px;
  height:21px;
}
#u1344 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
