body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:871px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:364px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1034 {
  position:absolute;
  left:23px;
  top:31px;
  width:12px;
  height:20px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1036 {
  position:absolute;
  left:147px;
  top:32px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:1px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1040 {
  position:absolute;
  left:23px;
  top:92px;
  width:89px;
  height:16px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:130px;
  width:375px;
  height:1px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1044 {
  position:absolute;
  left:23px;
  top:162px;
  width:99px;
  height:16px;
  color:#999999;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1046 {
  position:absolute;
  left:0px;
  top:200px;
  width:375px;
  height:1px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048 {
  position:absolute;
  left:278px;
  top:162px;
  width:71px;
  height:16px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u1050 {
  position:absolute;
  left:94px;
  top:282px;
  width:188px;
  height:52px;
  font-size:14px;
  color:#FFFFFF;
}
#u1051 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1052 {
  position:absolute;
  left:519px;
  top:92px;
  width:99px;
  height:16px;
  color:#999999;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1054 {
  position:absolute;
  left:496px;
  top:130px;
  width:375px;
  height:1px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1056 {
  position:absolute;
  left:519px;
  top:162px;
  width:99px;
  height:16px;
  color:#999999;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1058 {
  position:absolute;
  left:496px;
  top:200px;
  width:375px;
  height:1px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:774px;
  top:162px;
  width:71px;
  height:16px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u1062 {
  position:absolute;
  left:590px;
  top:282px;
  width:188px;
  height:52px;
  font-size:14px;
  color:#FFFFFF;
}
#u1063 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u1064 {
  position:absolute;
  left:282px;
  top:308px;
  width:0px;
  height:0px;
  color:#996600;
}
#u1064_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:129px;
  height:8px;
}
#u1064_seg1 {
  position:absolute;
  left:121px;
  top:-127px;
  width:8px;
  height:131px;
}
#u1064_seg2 {
  position:absolute;
  left:121px;
  top:-127px;
  width:80px;
  height:8px;
}
#u1064_seg3 {
  position:absolute;
  left:193px;
  top:-127px;
  width:8px;
  height:8px;
}
#u1064_seg4 {
  position:absolute;
  left:187px;
  top:-134px;
  width:20px;
  height:20px;
}
#u1065 {
  position:absolute;
  left:75px;
  top:-45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
